.incorrect-form-field {
  box-shadow: 0 0 0 0.2rem rgba(244, 67, 54, 0.25);
}

.incorrect-form-field[name='phone'],
.incorrect-form-field[name='firstName'],
.incorrect-form-field[name='lastName'],
.incorrect-form-field[name='age'] {
  border-color: #f44336;
}

.delete-btn {
  button {
    visibility: hidden;
  }

  &:hover {
    button {
      visibility: initial;
    }
  }
}

label[for='genderMale'] {
  margin-right: 7px;
}

.form-group {
  small {
    display: none;
  }
}

.show-validation-errors {
  small {
    display: block;
  }
}

table {
  margin-top: 5px;
}

.age-form-group {
  margin-top: 10px;
}

#app {
  justify-content: center;
  margin-top: 10px;
}
